a{
  text-decoration: none; 
  background-color:  rgb(24, 4, 4); 
  color: white;
  transition: 0.8s;
}
a:hover{
background-color: rosybrown;

}

img {
    width: 160px;
    vertical-align: middle;
    float: left;
    margin: 5px;
    margin-right: 10px;
    transition: 0.8s;
}
img:hover{
    width:180px;
}
body {
    background-color: rgb(8, 19, 19);
}
.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    color: rgb(216, 191, 49);
    text-shadow: 3px 3px  rgb(109, 97, 32);
    
}

h2 {    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-style: italic;
    color: rgb(216, 191, 49);
    text-shadow: 3px 3px  rgb(109, 97, 32)
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 650px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    background-color: rgb(24, 4, 4);
    transition: 0.8s;
}

.arena {
    width: 100%;
    height: 180px;
    background-image: "./images/topviewforest.jpg";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    visibility: hidden;
  }